
body{
	 background-color: #ffffff;
}
#main{
	 background-color: white;
	 width: 70%;
	 height: 100%;
	 position: absolute;
	 top: 0px;
	 left: 15%;
}
#menu img{
     width: 100%;
	 height: 300px;
}
.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 50px;
    font-size: 80px;
	font-family: "Lobster";
}

img { 
    width: 100%;
    height: auto;
}
#menu1 {
	 background-color: #111111;
	 width: 100%;
	 height: 30px;
}
#menu1 a{
	 color: grey;
	 text-decoration: none;
	 padding-right: 10px;
	 padding-left: 10px;
	 position: relative;
	 top: 5px;
	 left:10px;
}
#menu1 a:hover{
	 color: white;
}
#content{
	 background-color: #fff8dc;
	 width: 100%;
	 height:700px;
}
#menu2 {
     margin: 0;
	 padding: 0;
}
#menu2 ul {
	 margin:0;
	 padding:0;

}
#menu2 li {
	 margin:0;
	 padding:0;
	 list-style: none;
	 float: left;
	 position: relative;
	 background: #000000;
     display: inline;
     width: 157px;
     height: 30px;
}
#menu2 ul  li a {
	 text-align: center;
	 font-family: "Tahoma", sans-serif;
	 font-size: small;
	 text-decoration: none;
	 height: 40px;
	 width:130px;
	 display: block;
	 color: #FFF;
	 
}
#menu2 ul ul {
	 position: absolute;
	 visibility: hidden;
	 top:30px;
}
#menu2 ul  li:hover ul {
     visibility: visible;
}
#menu2 li:hover {
	 background:#800000;
}
#menu2 a:hover {
	 color: #000000;
}
.1{
	width: 15%;
	height: 688px;
	background-color: #F5DEB3;
	position: absolute;
	top:0px;
	left:0px;
}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:1px;	 
}
nav {
    line-height:15px;
    background-color: #F5DEB3;
    height:700px;
    width:17%;
    float:left;
    padding:10px;	      
}
.first{
	width: 15%;
	height: 100px;
	position: relative;
	top:0px;
	left:0px;

}
.first{
	text-decoration:none;
	text-align:center;
	color:#3f5d81;
	padding-top:0px;
	padding-left:0px;

}
.first a:hover{
	color:black;
	text-decoration:underline;
}
.first ul{
	 text-decoration:none;
	 text-align:left;
	 position: relative;
	 top: 0px;
	 left: 0%;
}
.first ul li a{
	 text-decoration:none;
	 text-align:left;
	 position: relative;
	 top: 0px;
	 left: 0%;

}
section {
    width:98%;
	height:700px;
    float:left;
    padding:10px;
	background-color:#fff8dc;
}
div.img {
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
